.treatments-hero {
    .image-container {
        width: 33.333%;
        max-height: 365px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .treatments {
        width: 66.666%;
        padding-left: 80px;
        @include flex;
        align-items: center;
        justify-content: flex-start;

        .treatments-inner {
            width: 100%;
            max-width: 795px; // 1058 on large screens
            align-items: center;
            justify-content: space-between;

            .treatment-card {
                max-width: 190px;
                margin: 0 10px;

                .image-wrapper {
                    border-radius: 50%;
                    height: 95px;
                    width: 95px;
                    @include flex(column);
                    align-items: center;
                    justify-content: center;
                    transition: all .4s ease-out;
                    margin: 0 auto 25px;

                    img {
                        max-width: 64px;
                        max-height: 48px;
                        height: auto;
                        width: auto;
                    }
                }

                h3 {
                    transition: all .4s ease-out;
                }

                &:hover {
                    h3 {
                        color: $green;
                    }
                    
                    .image-wrapper {
                        background-color: $white;
                    }
                }
            }
        }
    }
}