.treatments-hero {
    .image-container {
        width: 33.333%;
        max-height: 365px;
        max-width: 640px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .treatments {
        width: 66.666%;
        padding-left: 80px;
        @include flex;
        align-items: center;
        justify-content: flex-start;

        .treatments-inner {
            width: 100%;
            max-width: 795px; // 1058 on large screens
            align-items: center;
            justify-content: space-between;

            .treatment-card {
                max-width: 190px;
                margin: 0 10px;

                .image-wrapper {
                    margin: 0 auto 25px;
                }

                h3 {
                    transition: all .4s ease-out;
                }

                &:hover {
                    h3 {
                        color: $green;
                    }
                    
                    .image-wrapper {
                        background-color: $white;
                    }
                }
            }
        }
    }

    @media all and (max-width: 1920px) {
        .image-container {
            max-width: 427px;
        }
    }

    @media all and (min-width: 1600px) {
        .treatments {
            .treatments-inner {
                max-width: 1058px; 
                padding-right: 40px;
            }
        }
    }
}