.faqs-section {
    .container {
        padding: 100px 230px;
        max-width: calc(1440px - 60px);
    }

    h2 {
        margin-bottom: 60px;
    }

    .faq-card {
        border-top: 3px solid $grey;
        background-color: $white;
        padding-top: 50px;

        &:not(:last-of-type) {
            margin-bottom: 50px;
        }

        &:last-of-type {
            border-bottom: 3px solid $grey;
            padding-bottom: 50px;
        }

        .question-button-wrapper {
            @include flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            h3 {
                margin-right: 30px;
            }
        }

        .answer-wrapper {
            padding-top: 0;
            max-height: 0;
            overflow: hidden;
            transition: all 0.4s ease-out;
            max-width: 1058px;
            width: 95%;
        }
    }

    @media all and (max-width: 1440px) {
        padding: 60px 30px;

        .container {
            padding: 80px 120px;
        }
    }

    @include tablet {
        .container {
            padding: 60px 40px;
        }
    }

    @include mobile {
        padding: 0;
        padding-bottom: 60px;
        border-bottom: 3px solid $grey;

        .container {
            padding: 40px 30px;
        }
    }
}