.fees-table {
    border-bottom: 1px solid $grey;

    .container {
        overflow: hidden;
    }

    .table-wrapper {
        overflow: scroll;
    }
    
    &:last-of-type {
        border-bottom: none;
    }

    .asterisk-text {
        margin-top: 60px;
        width: 90%;
    }
}