.full-image-section {
    min-height: 675px;
    @include flex;
    padding-top: 200px;
    
    .container {
        margin-top: auto;

        .wrapper {
            padding: 80px 60px;
        }
    }

    @media all and (min-width: 1600px) {
        min-height: 900px;
        padding-top: 360px;
    
        .container {
            max-width: 1250px;

            .wrapper {
                padding: 95px 120px 120px;
            }
        }
    }

    @include tablet {
        min-height: 575px;
        padding-top: 340px;

        .container {
            .wrapper {
                padding: 60px 40px;
            }
        }
    }

    @include mobile {
        background-size: auto 422px;
        background-position: top;
        background-color: $grey;
        min-height: initial;
        padding-top: 320px;

        .container {
            .wrapper {
                padding: 50px 30px;
            }
        }
    }
}