.full-image-section {
    min-height: 675px;
    @include flex;
    
    .container {
        margin-top: auto;

        .wrapper {
            padding: 80px 60px;
        }
    }

    @media all and (min-width: 1600px) {
        min-height: 900px;
    
        .container {
            max-width: 1320px;

            .wrapper {
                padding: 95px 120px 120px;
            }
        }
    }
}