.full-width-image-banner {
    .wrapper {
        h2 {
            max-width: 744px;
        }

        .standard-text {
            max-width: 965px;
        }

        .button {
            margin-top: 60px;
        }
    }

    @include tablet {
        .wrapper {
            .button {
                margin-top: 50px;
            }
        }
    }

    @include mobile {
        background-size: auto 422px;
        background-color: $grey;
    
        .wrapper {
            .button {
                margin-top: 40px;
            }
        }
    }
}