.info-blocks-section {
    padding: 120px 0;

    .cta-wrapper {
        margin: 80px auto 0;

        .cta-button {
            margin: 0 auto;
        }
    }

    .info-block-wrapper {
        .info-container-card {
            &:not(:last-of-type) {
                margin-bottom: 40px;
            }

            .image-wrapper {
                max-width: 475px;
                min-width: 475px;
                position: relative;
                margin-right: 180px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .count-icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -90px;
                    margin-right: 0;
                    height: 180px;
                    width: 180px;

                    p {
                        font-size: 100px;
                        color: $green;
                    }
                }
            }

            .text-content {
                @include flex(column);
                align-items: center;
                justify-content: center;
                padding: 90px 0;
                padding-right: 90px;

                .text-inner {
                    max-width: 868px;
                }

                h3 {
                    margin-right: auto;
                }
            }
        }
    }

    @media all and (max-width: 1200px) {
        .info-block-wrapper {
            .info-container-card {
                .image-wrapper {
                    margin-right: 120px;
    
                    .count-icon {
                        right: -70px;
                        height: 140px;
                        width: 140px;
    
                        p {
                            font-size: 80px;
                        }
                    }
                }
    
                .text-content {
                    padding: 60px 0;
                    padding-right: 60px;
                }
            }
        }
    }

    @include tablet {
        .info-block-wrapper {
            .info-container-card {
                flex-direction: column;

                .image-wrapper {
                    width: 100%;
                    max-width: initial;
                    height: 100dvw;
                    max-height: 420px;
                    margin-right: 0;
                    min-width: initial;

                    .count-icon {
                        left: 50%;
                        right: initial;
                        transform: translateX(-50%) translateY(0);
                        bottom: -70px;
                        top: initial;
                    }
                }

                .text-content {
                    padding: 95px 40px 60px;
                }
            }
        }
    }

    @include mobile {
        .info-block-wrapper {
            .info-container-card {
                flex-direction: column;

                .image-wrapper {
                    width: 100%;
                    max-width: initial;
                    height: 100dvw;
                    max-height: 420px;
                    margin-right: 0;
                    min-width: initial;

                    .count-icon {
                        bottom: -50px;
                        height: 100px;
                        width: 100px;

                        p {
                            font-size: 60px;
                        }
                    }
                }

                .text-content {
                    padding: 65px 30px 40px;
                }
            }
        }
    }
}