.listing-block {
    .wrapper {
        .list-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            row-gap: 60px;

            .list-item {
                align-items: center;
            }
        }
    }

    @include mobile {
        .wrapper {
            padding: 50px 30px;
            
            .add-margin {
                margin-bottom: 40px;
                
                h2 {
                    text-align: center;
                }
            }
            

            .list-wrapper {
                @include flex(column);
                align-items: center;
                justify-content: center;
                gap: 30px;
    
                .list-item {
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    gap: 20px;
                    max-width: 300px;
                    margin: 0 auto;
                }
            }
        }
    }
}