.review-mosaic {
    overflow: hidden;
    
    .container {
        padding: 0;
        max-width: 1920px;
    }

    .wrapper {
        .sidebar {
            width: 17.35%;
            max-width: 333px;
            position: relative;
            @include flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            h2,
            h3 {
                color: $white;
            }

            .sidebar-text {
                display: inline-block;
                transform: rotate(-90deg);
                white-space: nowrap;
                margin-bottom: auto;
                margin-top: 333px;
            }
        }

        .main-content {
            width: 83%;
            max-width: 1587px;

            .big {
                width: 55%;
                max-width: 960px;
                padding: 80px 60px;
            }

            .small {
                width: 45%;
                max-width: 627px;
            }

            .button {
                margin-top: 40px;
            }

            .top-content {
                .slider-container {
                    .image-slide {
                        height: 100%;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }

                .text-container {
                    .text-container-inner {
                        max-width: 549px;
                    }
                }
            }

            .bottom-content {
                .text-container {
                    padding: 70px;

                    .text-container-inner {
                        max-width: 370px;

                        h2 {
                            font-size: 46px;
                            line-height: 1.1;
                        }
                    }
                }
            }
        }
    }

    @media all and (min-width: 1600px) {
        .wrapper {
            .main-content {
                .big {
                    width: 61%; // seems to only fill all available space if it's set to add up to 101%
                    padding: 100px 140px;
                }
    
                .small {
                    width: 40%;
                }
    
                .button {
                    margin-top: 60px;
                }
            }
        }
    }

    @media all and (max-width: 1300px) {
        .wrapper {
            .main-content {
                .big {
                    padding: 60px 40px;
                }

                .bottom-content {
                    .text-container {
                        padding: 60px 40px;
                    }
                }
            }
        }
    }

    @include tablet {
        .wrapper {
            flex-direction: column;

            .sidebar {
                width: 100%;
                padding: 60px 30px 40px;
                margin: 0 auto;

                .sidebar-text {
                    display: inline-block;
                    transform: rotate(0);
                    white-space: initial;
                    margin-bottom: auto;
                    margin-top: 0;
                }
            }

            .main-content {
                width: 100%;
                max-width: initial;

                .big {
                    width: 100%;
                    max-width: initial;
                }
                
                .top-content {
                    flex-direction: column;

                    .slider-container {
                        padding: 0 30px 60px;
                        width: 100%;
                        margin: 0 auto;

                        .image-slide {
                            height: 80dvw;
                            max-height: 391px;
                            min-height: 360px;
                        }
                    }
                }

                .text-container {
                    .text-container-inner {
                        margin: 0 auto;
                    }
                }

                .bottom-content {
                    .big,
                    .small {
                        width: 50%;
                    }
                }
            }
        }
    }

    @media all and (max-width: 860px) {
        .wrapper {
            .main-content {
                .bottom-content {
                    flex-direction: column;

                    .big,
                    .small {
                        width: 100%;
                        text-align: center;

                        .image-wrapper {
                            margin: 0 auto 30px;
                        }

                        .button {
                            max-width: initial;
                            width: 100%;
                            @include flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .text-container {
                        margin: 0 auto;
                        
                        .text-container-inner {
                            h2 {
                                font-size: 36px;
                            }
                        }
                    }
                }
            }
        }
    }
}