.treatments-hero {
    .image-container {
        width: 33.333%;
        max-height: 365px;
        max-width: 640px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .treatments {
        max-width: 66.666%;
        width: calc(100% - 640px);
        margin: 0 auto;
        @include flex;
        align-items: center;
        justify-content: space-between;

        .treatments-inner {
            width: 100%;
            align-items: center;
            gap: 40px;
            justify-content: space-between;
            padding: 20px 0;
            max-width: 980px;
            margin: 0 auto;

            .treatment-card {
                max-width: 190px;
                margin: 0 10px;

                .image-wrapper {
                    margin: 0 auto 25px;
                }

                h3 {
                    transition: all .4s ease-out;
                }

                &:hover {
                    h3 {
                        color: $green;
                    }
                    
                    .image-wrapper {
                        background-color: $white;
                    }
                }
            }
        }
    }

    @media all and (max-width: 1920px) {
        .image-container {
            max-width: 427px;
        }

        .treatments {
            width: calc(100% - 427px);
        }
    }

    @media all and (max-width: 1200px) {
        .image-container {
            display: none;
        }

        .treatments {
            padding: 60px 0;
            width: 100%;

            .treatments-inner {
                padding: 0;
            }
        }
    }

    @media all and (max-width: 700px) {
        .treatments {
            .treatments-inner {
                flex-direction: column;
                justify-content: center;

                .treatment-card {
                    background-color: rgba($grey, .2);
                    padding: 60px 20px;
                    width: 100dvw;
                    max-width: 290px;
                }
            }
        }

        &.bg-grey {
            .treatments {
                .treatments-inner {
                    .treatment-card {
                        background-color: rgba($medium-grey, .2);
                    }
                }
            }
        }
    }
}