.body-overlay {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    background-color: $black;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
    transition: all .4s ease-out;
    pointer-events: none;
    
    &.active-nav {
        opacity: .6;
    }

    @include tablet {
        &.active-nav-mobile {
            opacity: .6;
            pointer-events: all;
        }
    }
}