@mixin mobile {
	@media all and (max-width: 600px) {
		@content;
	}
}

@mixin tablet {
	@media all and (max-width: 1000px) {
		@content;
	}
}

@mixin laptop {
	@media all and (max-width: 1440px) {
		@content;
	}
}

@mixin desktop {
	@media all and (max-width: 1600px) {
		@content;
	}
}

@mixin flex ($direction: row) {
	display: flex;
	flex-direction: $direction;
}

@mixin background ($bg-size) {
	background-repeat: no-repeat;
	background-position: center;
	background-size: $bg-size;
}

@mixin border ($color, $location: bottom, $size: 5px) {
	@if $location == top {
		border-top: $size solid $color;
	} @else {
		border-bottom: $size solid $color;
	}
}

// anchor hover effect
@mixin anchorHover ($color, $height, $padding: 15px) {
	position: relative;
	padding-bottom: $padding;
	padding-top: $padding;
	
	&::after {
		content: '';
		position: absolute;
		bottom: 10px;
		right: 0;
		height: $height;
		background-color: $color;
		width: 100%;
		max-width: 0;
		transition: max-width .4s ease;
	}

	&:hover {
		&::after {
			left: 0;
			right: initial;
			max-width: 100%;
		}
	}

	&.show-hide {
		&::after {
			max-width: 100%;
			left: 0;
			right: initial;
		}

		&:hover {
			&::after {
				max-width: 0;
				right: 0;
				left: initial;
			}
		}
	}
}