table {
	border-collapse: separate;
	table-layout: fixed;
	border-spacing: 0;
	border: 3px solid $grey;
	overflow: hidden;
	width: 100%;
	background-color: $white;

	th,
	td {
		padding: 30px 20px;
		text-align: left;
		vertical-align: middle;
		line-height: 1.3;
	}

	th {
		background-color: $grey;
	}
	
	td {
		border: 1px solid $grey;
	}
}
