table {
	border-collapse: separate;
	table-layout: fixed;
	border-spacing: 0;
	border: 3px solid $grey;
	overflow: hidden;
	width: 100%;
	background-color: $white;
	overflow: scroll;
	min-width: 627px;

	th,
	td {
		padding: 30px 20px;
		text-align: left;
		vertical-align: bottom;
		line-height: 1.3;

		&.col-2 {
			width: 250px;
		}
	}

	th {
		background-color: $grey;
	}
	
	td {
		border: 1px solid $grey;
	}

	@include tablet {
		th,
		td {
			padding: 20px 15px;
	
			&.col-2 {
				width: 200px;
			}
		}
	}
}
