// Typography
$heading-font-family: 'superior-title', '-apple-system', serif;
$base-font-family: 'indivisible', arial, '-apple-system', sans-serif;

// standard colors
$white: #ffffff;
$black: #0a000a;
$true-black: #000000;
$off-black: #363639;
$off-white: #faf9f6;

// social
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0072b1;

$green: #cff85d;
$grey: #606c68;
$medium-grey: #aca8a5;
$light-grey: #efefef;

// special
$input-bg: $light-grey;
$form-border: $grey;
$form-colour: $grey;


$primary-color: $grey;
$secondary-color: $white;